@import "tailwindcss";

:root {
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #3b82f6;  
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2563eb; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 transparent;
}