@import "tailwindcss";

:root {
  --foreground: #ffffff;
}
/* @theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */


@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}